// Main Colors
$defaultColor: #F4EEEE;
$primaryColor: #D8CECE;
$secondaryColor: #C99A41;
$logoColor: #234742;
$colorText: #000000;
$colorBlue: #083242;
$colorDark: #232323;
$colorLight: #F4EEEE;
$colorLightText: #F4EEEE;
$colorNeptune: #0caabe;

$colorSuccess: rgb(61, 199, 43);
$colorError: rgb(199, 53, 43);
$colorWarning: rgb(226, 182, 60);