@import 'colors'
@import "custom"
@import "header"
@import "menu"
@import "body"
@import "footer"

body
    padding: 0
    margin: 0
    font-family: 'Josefin Sans', sans-serif
    overflow: hidden
    a
        text-decoration: none
    p
        margin: 0
        padding: 0
        line-height: 100%
