footer {
    position: absolute;
    z-index: 101;
}

footer .footer-container{
    display: block;
    width: 850px;
    height: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

footer p, footer a, footer span {
    color: #575757;
    font-size: 13px;
    line-height: 14px;
    text-decoration: none;
}

footer .menuSecond-txt,
footer .menuThree-txt,
footer .menuFour-txt{
    font-size: 14px;
    font-weight: bold;
    color: #444444;
}

footer .footer-container .list {
    display: block;
    float: left;
    width: 185px;
    height: 100%;
    margin-right: 22.5px;
}

footer .footer-container .list ul{
    list-style: none;
    padding: 0;
}

footer .footer-container .list ul a:hover{
    color: #2e2e2e;
    cursor: pointer;
}

footer .footer-container .list:first-child {
    width: 200px;
    margin-right: 50px;
}

footer .footer-container .list:last-child {
    margin-right: 0;
}

footer hr {
    display: block;
    margin: 0 auto;
    width: 850px;
    border: 0.1px solid #cbcbcb;
}

footer .footer-bold-p {
    color: #de2224;
    font-size: 15px;
    font-weight: bold;
}

footer .description {
    display: block;
    width: 850px;
    margin: 0 auto;
}

footer .description a{
    color: #de2224;
    line-height: 14px;
    font-weight: bolder;
}

footer .description a:hover{
    color: #242222;
    cursor: pointer;
}

footer .bottom-text {
    display: block;
    float: left;
    margin: 10px 10px 0 0;
    color: #929292;
    font-size: 15px;
    text-align: center;
}

footer .bottom-text-a:last-child {
    border-left: 1px solid #de2224;
    padding-left: 10px;
}

footer .bottom-text-a {
    display: block;
    float: left;
    margin: 10px 10px 0 0;
    color: #929292;
    font-size: 15px;
}

footer .bottom-text:first-child {
    margin-left: 100px;
}


footer .site-name {
    display: block;
    float: left;
    width: 200px;
    color: #a5a5a5;
    margin: 10px 0 0;
    text-align: right;
}