#slider {
    display: block;
    position: relative;
    width: 100%;
    height: 310px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#slider ul, #slider li {
    display: block;
    list-style: none;
}

#slide-wrapper {
    display: block;
    position: relative;
    width: calc(100%);
    height: 310px;
    margin: 0;
    padding: 0;
    transition: all 2s ease;
}

.slide {
    opacity: 0;
    display: block;
    width: calc(100%);
    position: absolute;
    /*float: left;*/
    margin: 0;
    padding: 0;
    height: 310px;
    overflow: hidden;
    transition: all 2s ease;
}

.slide p{
    opacity: 0.5;
    margin: 115px auto 0;
    padding: 0;
    color: #efefef;
    font-family: "Noto Serif", serif;
    font-size: 40px;
    text-shadow: 0px 0px 40px #0e0e0e;
    background: hsla(0, 0%, 0%, 0.3);
    text-align: center;
    line-height: 80px;
    transition: all 2s ease;
}

.active-p{
    opacity: 1;
}

.active-p > p{
    opacity: 1;
}


#slide-one{
    background: url("../Source/law-one.jpg");
    background-size: 100%;
    background-clip: border-box;
    background-position: right bottom;
}

#slide-two{
    background: url("../Source/law-two.jpg");
    background-size: 100%;
    background-clip: border-box;
    background-position: 0 90%;
}

#slide-three{
    background: url("../Source/law-three.jpg");
    background-size: 100%;
    background-clip: border-box;
    background-position: 0 90%;
}

#slide-four{
    background: url("../Source/law-four.jpg");
    background-size: 100%;
    background-clip: border-box;
    background-position: 0 25%;
}

#slide-five{
    background: url("../Source/law-five.jpg");
    background-size: 100%;
    background-clip: border-box;
}

#slide-six{
    background: url("../Source/law-six.jpg");
    background-size: 100%;
    background-clip: border-box;
    background-position: 0 30%;
}

#slide-seven{
    background: url("../Source/law-seven.jpg");
    background-size: 100%;
    background-clip: border-box;
    background-position: 0 30%;
}

#slide-eight{
    background: url("../Source/law-eight.jpg");
    background-size: 100%;
    background-clip: border-box;
    background-position: 0 bottom;
}

#navigation div {
    z-index: 200;
    position: absolute;
    top: calc(50% - 25px);
    opacity: 0.5;
    transition: all 0.5s ease;
}

#navigation #prev img{
    width: 50px;
}

#navigation #next img{
    width: 50px;
}

#slider:hover #navigation #prev {
    left: 100px;
}

#slider:hover #navigation #next {
    right: 100px;
}

#navigation #prev{
    left: -60px;
}

#navigation #prev:hover{
    cursor: pointer;
    opacity: 1;
}

#navigation #next {
    right: -60px;
}

#navigation #next:hover{
    cursor: pointer;
    opacity: 1;
}

.nav-view {
    display: block;
    position: absolute;
    z-index: 200;
    height: 10px;
    width: auto;
    margin: 0 0 0 calc(50% - 150px);
    padding: 0;
    top: 90%;
}

.nav-view .nav-list {
    display: inline-block;
    float: left;
    width: 50px;
    height: 5px;
    background: #f9f6f0;
    opacity: 0.5;
    margin-right: 10px;
    transition: all 0.5s ease;
}

.nav-view .nav-list:hover {
    cursor: pointer;
    opacity: 0.9;
}

.nav-view .active-nav{
    background: #c62d32;
    opacity: 0.6;
}
.nav-view .active-nav:hover{
    cursor: default;
    opacity: 0.6;
}