// Main Colors
// $defaultColor: #FBF9EA;
$defaultColor: rgb(241, 241, 241);
$primaryColor: #F82323;
$secondary_color: #0D0D0D;
$colorText: $secondary_color;
$colorDark: $secondary_color;
$colorLight: $defaultColor;
$colorDarkText: $secondary_color;
$color_light_text: $defaultColor;

$colorSuccess: rgb(61, 199, 43);
$greetingsColor: rgb(255, 255, 255);
$greetingsColor1: rgb(255, 240, 231);
$greetingsColor2: rgb(235, 247, 255);