// Main Colors
$defaultColor: #F4EEEE;
$primaryColor: #D8CECE;
$secondaryColor: #C99A41;
$colorText: #000000;
$colorDark: #232323;
$colorLight: #F4EEEE;
$colorDarkText: rgb(31, 31, 31);
$colorLightText: #F4EEEE;

$colorSuccess: rgb(61, 199, 43);