// Main Colors
// $defaultColor: #FBF9EA;
$defaultColor: #ECECEC;
$primaryColor: #F82323;
$secondaryColor: #0D0D0D;
$colorText: $secondaryColor;
$colorDark: $secondaryColor;
$colorLight: $defaultColor;
$colorDarkText: $secondaryColor;
$colorLightText: $defaultColor;

$colorSuccess: rgb(61, 199, 43);