.Contacts
    height: 65%
    color: $colorLightText
    background-color: $colorDark
    align-items: center
    padding: $gutter-l 200px
    .ContactsContainer
        position: relative
        display: flex
        justify-content: row
        align-items: center
        .ContactsBlock
            position: relative
            white-space: nowrap
            height: 100%
            .Adress
                padding-bottom: 10px
            .DarkContactsText
                opacity: .6
                padding-bottom: 10px
            .SocialNetworksIMG
                height: 50px
                img 
                    padding-right: 20px
                    max-height: 30px
