.Contacts
    height: 65%
    color: $colorLightText
    background-color: $colorDark
    align-items: center
    padding: $gutter-l 200px
    .ContactsContainer
        display: flex
        justify-content: row
        align-items: center
        white-space: nowrap
        .ContactsBlock
            width: 5vw
            img
                height: 50px
            .DarkContactsText
                opacity: .6

                
