footer
    display: flex
    flex-direction: column
    justify-content: space-between
    position: relative
    width: 100%
    height: 400px
    align-items: flex-start
    background: $secondary_color
    color: $color_light_text
    padding: $footer_padding
    font-weight: 200
    .footer_wrap
        position: relative
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        height: 100%
        .ContactsBlock
            position: relative
            white-space: nowrap
            height: 100%
            width: 40%
            .contacts_logo
                height: 50px
            .contacts_adress
                padding-bottom: 10px
            .contacts_email, .contacts_phones
                opacity: .5
                padding-bottom: 10px
            .social_links
                height: 50px
                img 
                    padding-right: 20px
                    max-height: 30px
        .SiteMap
            position: relative
            white-space: nowrap
            display: flex
            height: 100%
            width: 60%
            .ServiceBlock
                flex-grow: 1
                .site_map_header
                    padding-bottom: 10px
                .site_map_links
                    opacity: .4
                    max-width: 220px
                    overflow: hidden
    .footer_credits
        display: flex
        flex-direction: row
        width: 100%
        justify-content: space-between
        .credits_name
            opacity: .6
        .credits_info
            opacity: .4
        .credits_design
            opacity: .4
        .credits_designer
            opacity: .6
