.backimg
    position: absolute
    width: 100%
    left: 0
    top: -100px
    z-index: 0
.Greetings
    width: 100%;
    height: 100vh;
    position: relative
    padding: $gutter-m 100px
    background-size: cover
    display: flex
    justify-content: space-between
    align-items: center
    .hello_text
        // padding: $gutter-m 100px
        padding: 0 20px
        .legal_service_text
            font-size: 50px;
            font-weight: bold;
            text-transform: uppercase
            white-space: nowrap
            opacity: 0.8
        .slogan_text
            width: 600px
            font-size: 20px
            line-height: 20px
            opacity: 0.4