.Greetings
    width: 100%;
    height: 100%;
    z-index: -1;
    position: relative
    img
        width: 100%
    .HelloText
        width: 51%
        padding: $gutter-m 100px
        position: absolute
        top: 40vh;
        left: 8vw;
        .LegalServiceText
            font-size: 8vh;
            font-weight: bold;

    