.Greetings
    @media #{$media-phones}
        padding: $phones_padding
        align-items: flex-start
    width: 100%
    height: 100vh
    position: relative
    padding: $desktop_padding
    background-size: cover
    display: flex
    justify-content: space-between
    align-items: center
    .hello_text
        @media #{$media-phones}
            margin-top: 26vh
        // padding: $gutter-m 100px
        margin-top: -14vh
        padding: 0 20px
        .legal_service_text
            @media #{$media-phones}
                width: 50%
                font-size: 30px
                white-space: normal
                line-height: 30px
                margin-bottom: 10px
            font-size: 50px
            font-weight: bold
            text-transform: uppercase
            white-space: nowrap
            opacity: 0.8
        .slogan_text
            @media #{$media-phones}
                width: 70%
                font-size: 18px
                opacity: 0.5
            width: 400px
            font-size: 16px
            line-height: 18px
            opacity: 0.3