.LogoContain
    display: flex
    align-items: center
    justify-content: center
    flex-direction: row
    height: 100%
    width: 300px
    .LogoIMG
            display: flex
            position: relative
            img
                min-width: 50px
                height: 50px
    .LogoTextContain
        display: flex
        flex-direction: column                           
        color: black                                    // поставь два цвета для шапки и для контактов
        height: 100%
        width: 230px
        justify-content: center
        .AdvocatName
            white-space: nowrap
            font-weight: bold
            font-size: 14px
            line-height: 20px
        .AdvocatJob
            font-size: 10px
            opacity: .5
            line-height: 12px
    