.Menu
    position: fixed
    z-index: 100
    width: 100%
    height: 120px
    padding: $gutter-m 100px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    .Logo
        position: relative
        height: 100px
        width: 100%
        img 
            height: 100px
    .MenuItemsContainer
        display: flex
        align-items: center
        flex-direction: row
        height: 20px
        .MenuItem
            display: flex
            align-items: center
            padding: 10px
            height: 15px
            white-space: nowrap