.Menu
    @media #{$media-phones}
        padding: $phones_padding
    position: fixed
    z-index: 100
    width: 100%
    height: 120px
    padding: $desktop_padding
    display: flex
    color: $colorDarkText
    flex-direction: row
    align-items: center
    justify-content: space-between
    transition: all .4s ease
    .Logo
        position: relative
        height: 100px
        width: 100%
        img
            height: 100px
    .menu_item_container
        @media #{$media-phones}
            display: none
        display: flex
        align-items: center
        flex-direction: row
        height: 20px
        font-size: 16px
        .menu_item
            display: flex
            align-items: center
            padding: 15px
            height: 15px
            white-space: nowrap
            font-weight: 300
            opacity: .6
            transition: all .4s ease
            &:hover
                opacity: 1
        .menu_item.selected
            opacity: 1
        .language_btn
            opacity: 1

.scrolled
    background-color: transparentize($defaultColor, .6)
    backdrop-filter: blur(10px)
    -webkikt-backdrop-filter: blur(10px)
    // filter: url('#ivBlurMenu')
    // -webkikt-filter: url('#ivBlurMenu')
    height: 80px
.dark.scrolled
    background-color: transparentize($colorDark, .5)
    backdrop-filter: blur(20px)
    -webkikt-backdrop-filter: blur(20px)
    // filter: url('#ivBlurMenu')
    // -webkikt-filter: url('#ivBlurMenu')

.dark
    color: $colorLightText
