.ServicesGeneral
    position: relative
    width: 100%
    background-color: rgb(240, 240, 240)
    z-index: 1
    .Headline
        height: 200px
        background-color: darken($colorLight, 8)
        color: $colorDarkText
        align-items: center
        .TextHeadline
            @media #{$media-phones}
                padding: $phones_padding
            display: flex
            justify-content: center
            flex-direction: column
            height: 100%
            padding: $desktop_padding
            .HeadlineBigText
                @media #{$media-phones}
                    font-size: 20px
                padding: 0 20px
                font-size: 24px
                margin-bottom: 5px
            .HeadlineSmallText
                @media #{$media-phones}
                    width: 100%
                padding: 0 20px
                width: 600px
                font-size: 16px
                font-weight: 200
                line-height: 18px
                opacity: .4
    .LinksContainer
        @media #{$media-phones}
            padding: $phones_padding
            flex-direction: column
        padding: $desktop_padding
        background-color: darken($colorLight, 2)
        display: flex
        flex-direction: row
        flex-wrap: wrap
        .LinkContainer
            @media #{$media-phones}
                width: 100%
                padding: 10px 20px
            width: 50%
            padding: 20px
            box-sizing: border-box
            .ServiceLink
                @media #{$media-phones}
                    height: $service_mobile_height
                display: flex
                width: 100%
                height: 150px
                background-color: $colorLight
                color: $colorDarkText
                .ServiceImage
                    @media #{$media-phones}
                        height: $service_mobile_height
                        min-width: $service_mobile_height
                    display: flex
                    justify-content: center
                    align-items: center
                    min-width: 150px
                    max-width: 150px
                    height: 150px
                    background: rgb(150, 150, 150)
                    img
                        width: 100%
                        height: 100%
                        object-fit: cover
                .ServiceInfo
                    display: flex
                    justify-content: center
                    // align-items: center
                    flex-direction: column
                    height: 100%
                    padding: 0 20px
                    .ServiceName
                        font-size: 20px
                        margin-bottom: 10px
                    .ServiceText
                        @media #{$media-normal}
                            display: none
                        font-size: 14px
                        font-weight: 300
                        line-height: 18px
                        opacity: .3
                        margin-bottom: 10px
.dark
    .Headline
        background-color: $colorDark
        color: $color_light_text
    .LinksContainer
        background-color: lighten($colorDark, 2)
        .LinkContainer
            .ServiceLink
                background-color: lighten($colorDark, 6)
                color: $color_light_text

.AdditionalContainer
    height: 400px
    position: relative
    display: flex
    align-items: center
    flex-direction: column
    justify-content: center
    overflow: hidden
    .AdditionalBackgroundImg
        position: absolute
        width: 100%
        height: 100%
        object-fit: cover
        z-index: 0
    .AdditionalBackgroundFilter
        position: absolute
        height: 400px
        width: 100%
        background: transparentize($secondary_color, .5)
        backdrop-filter: blur(5px)
        -webkikt-backdrop-filter: blur(5px)
        z-index: 2
    .AdditionalLabelContainer
        @media #{$media-phones}
            padding: $phones_padding
        width: 100%
        padding: $desktop_padding
        .AdditionalLabel
            @media #{$media-phones}
                font-size: 20px
                padding: 0 20px
                // align-items: center
            display: flex
            align-items: flex-start
            justify-content: center
            color: $color_light_text
            position: relative
            margin-bottom: 20px
            width: 100%
            text-align: center
            font-size: 20px
            z-index: 100
    .ServicesAdditional
        @media #{$media-phones}
            flex-direction: column
            padding: $phones_padding
        padding: 0 80px
        display: flex
        flex-direction: row
        align-items: flex-start
        justify-content: center
        .AdditionalLink
            display: flex
            @media #{$media-phones}
                margin: 5px 10px
                flex-direction: row
            flex-direction: column
            align-items: center
            justify-content: space-between
            width: 220px
            margin: 0 30px
            height: 100%
            z-index: 100
            .AdditionalIcon
                @media #{$media-phones}
                    min-width: 60px
                    font-size: 40px
                    height: 60px
                display: flex
                align-items: center
                justify-content: center 
                min-width: 140px
                height: 80px
                font-size: 80px
            .AdditionalCaption
                @media #{$media-phones}
                    flex-direction: row
                    text-align: left
                text-align: center
                font-size: 14px
                line-height: 16px
                padding: 20px
                color: $color_light_text
            .additional_link
                width: 80%
                .MoreBtn
                    width: 100%
